@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Pacifico);

@font-face {
  font-family: 'Proximanova';
  font-style: normal;
  font-weight: 300;
  src: local('ProximaNova Light'), local('ProximaNova-Light'), url('../fonts/ProximaNova-Light.otf') format('otf');
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova-Light.ttf') format('truetype'),
  url('../fonts/ProximaNova-Light.svg') format('svg'); 
}
@font-face {
  font-family: 'Proximanova';
  font-style: normal;
  font-weight: 400;
  src: local('ProximaNova Regular'), local('ProximaNova-Regular'), url('../fonts/ProximaNova-Regular.otf') format('otf');
  src: url('../fonts/ProximaNova-Regular.otf');
  src: url('../fonts/ProximaNova-Regular.otf?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
  url('../fonts/ProximaNova-Regular.svg') format('svg');
}
@font-face {
  font-family: 'Proximanova';
  font-style: normal;
  font-weight: 500;
  src: local('ProximaNova Semibold'), local('ProximaNova-Semibold'), url('../fonts/ProximaNova-Semibold.otf') format('otf');
  src: url('../fonts/ProximaNova-Semibold.otf');
  src: url('../fonts/ProximaNova-Semibold.otf?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
  url('../fonts/ProximaNova-Semibold.svg') format('svg');
}
@font-face {
  font-family: 'Proximanova';
  font-style: normal;
  font-weight: 600;
  src: local('ProximaNova Bold'), local('ProximaNova-Bold'), url('../fonts/ProximaNova-Bold.otf') format('otf');
  src: url('../fonts/ProximaNova-Bold.otf');
  src: url('../fonts/ProximaNova-Bold.otf?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
  url('../fonts/ProximaNova-Bold.svg') format('svg');
}

body{
	background: none !important;
}
.front .zone-content-wrapper .zone-content{
	padding-bottom: 0px;
}

/*** MENÚ TOP Y BUSCADOR ***/

header #zone-user-wrapper{
	height: 40px;
	background-color: #76C9B7;
}
header #zone-user-wrapper .container-24 .grid-16{
	width: 700px;
}
header #zone-user-wrapper .container-24 .grid-8{
	width: 240px;
}

header #zone-user-wrapper .menu li{
  list-style-image:none;
  list-style-type:none;
  display:inline-block;
  *zoom: 1;
  *display: inline;
  margin: 0px; padding: 0px;	
}
header #zone-user-wrapper .menu li a{
	display:block;
  height: 40px;
  border-left: 1px solid #faf4e8;
  -webkit-transition: all 550ms ease;
  transition: all 550ms ease;
  font-family: Proximanova, sans-serif;
  color: white;
  font-size: 13px;
  line-height: 40px;
  text-transform: uppercase;
  padding: 0px 10px 0px 10px;
}
header #zone-user-wrapper .menu li a:hover {
  color: #268c79;
}

#block-views-exp-display-products-page .form-text#edit-search-api-views-fulltext{
	display: block;
  padding-left: 55px;
  border-width: 0px;
  border-color: black;
  border: none;
  background-color: #addfd4;
  background-image: url('../images/lupa.png');
  background-position: 10px 50%;
  background-repeat: no-repeat;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
  width: 230px;
  width: 180px\9;
  height: 40px;
  height: 20px\9;
  padding-top: 15px\9;
  margin: 0px;
  float:right;
  float:left\9;
  box-sizing:border-box;
  
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;  	
}
header #block-views-exp-display-products-page{
	margin-bottom: 0px;
	padding-top: 0px;
}
#block-views-exp-display-products-page .form-text#edit-search-api-views-fulltext::-webkit-input-placeholder { color:#FFF; }
#block-views-exp-display-products-page .form-text#edit-search-api-views-fulltext::-moz-placeholder { color:#FFF; } /* firefox 19+ */
#block-views-exp-display-products-page .form-text#edit-search-api-views-fulltext:-ms-input-placeholder { color:#FFF; } /* ie */
#block-views-exp-display-products-page .form-text#edit-search-api-views-fulltext:-moz-placeholder { color:#FFF; }

#block-views-exp-display-products-page .views-submit-button{
	display: none;
}
/*** BRANDING ***/
#region-branding{

}
.logo-img{
	transition: all 500ms ease;
}
.logo-img:hover{
	transform: scale(1.04);
}

#zone-branding .block-shopping-cart-block .selector-fecha-entrega{
	/*position:absolute;*/
	margin: 0px;
	padding: 0px;
	height: 44px;
	float:left;
	/*margin-left: -278px;*/
}
@-moz-document url-prefix() { 
  #zone-branding .block-shopping-cart-block .selector-fecha-entrega{
     margin-left: -275px;
  }
}

#zone-branding .block-shopping-cart-block .selector-fecha-entrega #select-fecha-entrega{
	border-color: #6E6F71;
	border-right: none;
	background-color: transparent;	
	box-sizing:border-box;
	margin: 0px; padding: 0px;

	color: #6E6F71;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 600;
	
	background-image: url("../images/flecha_listado_carrito.png");
	background-position: 94% 50%;
	background-repeat: no-repeat;
	padding-right: 55px;
	padding-left: 15px;

	-moz-appearance: none; text-indent: 0.01px; text-overflow: '';

}

/*select, select[size] {

background-repeat: no-repeat;
background-position: right center;
padding: 3px;
padding-right: 20px;
}*/

#zone-branding .block-shopping-cart-block .selector-fecha-entrega #select-fecha-entrega option{
	color: #6E6F71;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 600;
	background-color: #FFF;
}
#zone-branding .block-shopping-cart-block .content{
	background: none;
	margin: 0px; padding: 0px;
}
#zone-branding .block-shopping-cart-block .line-item-summary{
	background-image: url("../images/carrito.png");
	background-position: 10px 50%;
	background-repeat: no-repeat;
	background-color: #E35755;	
	padding: 5px 10px 5px 45px;
	
}
#zone-branding .block-shopping-cart-block .view-empty p,
#zone-branding .block-shopping-cart-block ul.links{
	display: none;
}
#zone-branding .block-shopping-cart-block .content span{
	font-family: Proximanova, sans-serif;
	font-weight: 500;
	color: white;
	font-size: 15px;	
}
#zone-branding .block-shopping-cart-block .line-item-quantity{
	width: 28px;
	height: 28px;
	background-color: #666666;
	border-radius: 50%;
	font-family: Proximanova, sans-serif;
	font-weight: 300;
	color: white;
	font-size: 13px;
	line-height: 31px;
	text-align: center;
	border: 2px solid #FFF;
	position: absolute;
	top: -15px;
	right: -15px;
}
#zone-branding .block-shopping-cart-block .view-empty .line-item-quantity{
	top: 15px;
}

#zone-branding .block-shopping-cart-block{
	padding: 0px;
	float:right;
	margin-top: 34px;
}
#block-menu-menu-user-menu{
	position: absolute;
	right: 0;
	margin: 0px; padding: 0px;
	margin-top: 95px;
}
#block-menu-menu-user-menu.block-menu-user-menu .block-inner{
	margin-right: 0px;
}

#block-menu-menu-user-menu .content ul.menu{
	margin-top: 0px;
	position: static; 
	left: 50%;
}
#block-menu-menu-user-menu.block-menu-user-menu .content{
	position:static;
	overflow:visible;
}
#block-menu-menu-user-menu .content ul.menu li{
	padding-bottom: 0px;
	position: static;
	padding-right: 7px;	
}

body #block-menu-menu-user-menu .content ul.menu li a{
	font-family: Proximanova, sans-serif;
	color: #6E6F71;	
	font-size: 13px;
	font-weight:bold;
	text-transform: uppercase;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding: 0px;
	padding-right: 7px;
	line-height: 13px;
	border-right: 1px solid #6E6F71;
	transition: all 500ms ease;
}
#block-menu-menu-user-menu .content ul.menu li a:hover{
	background: none;
	color: #76C9B7;
}
#block-menu-menu-user-menu .content ul.menu li.ver-carrito a{
	color: #76C9B7;
	padding-right: 7px;
	border-right-color: #76C9B7;
}
#block-menu-menu-user-menu .content ul.menu li.last{
	padding-right: 0px;
	padding-left: 0px;
}
#block-menu-menu-user-menu .content ul.menu li.last a{
	font-weight: normal;
	border-right: none;
	padding-right: 0px;
}

/*** MENÚ PRINCIPAL ***/

#zone-menu-wrapper{
	background-image: url('../images/bg_menu.jpg');
	background-color: #E35855;
	background-repeat:repeat-x;
	background-position: top;
	padding-top: 1px;
	height: 53px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;	
}
.mopen #zone-menu-wrapper{
	height: 106px;
}
.mopen.mopen2 #zone-menu-wrapper{
	height: 160px;
}

#zone-menu-wrapper #block-system-main-menu{
	padding: 0px;
}
#zone-menu-wrapper #block-system-main-menu ul.menu li{
	margin: 0px; padding: 0px;
	display:inline-block;
	*zoom: 1;
	*display: inline;
	
}
#zone-menu-wrapper #block-system-main-menu ul.menu li a{
	display:block;
	height: 52px;
  /*margin-left: 10px;*/
  padding: 0px 20px 0px 25px;
  background-image: url('../images/flecha_menu.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Proximanova, sans-serif;
  color: #414042;
  font-size: 13px;
  line-height: 53px;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  background-color:transparent;
}

#zone-menu-wrapper #block-system-main-menu .content{
	position:relative;
}

#zone-menu-wrapper #block-system-main-menu ul.menu li ul.menu{
	display: none;
	position:absolute; 
	z-index: 1;
	height: 52px;
	margin-top: 52px\9;
	left: 0;
}

#zone-menu-wrapper #block-system-main-menu ul.menu li:hover a,
#zone-menu-wrapper #block-system-main-menu ul.menu li a.active-trail{
    color: #76c9b7;
}

#zone-menu-wrapper #block-system-main-menu ul.menu li ul.menu li{
	margin: 0px; padding: 0px;
}
#zone-menu-wrapper #block-system-main-menu ul.menu li ul.menu li a{
  display:block;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Proximanova, sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  background:none !important;
}
#zone-menu-wrapper #block-system-main-menu ul.menu>li ul.menu li a:hover,
#zone-menu-wrapper #block-system-main-menu ul.menu>li ul.menu li a.active{
	color: #772725;
}

/*** SLIDER ***/

body .panel-pane.pane-views-home-slider-block{
	padding: 0px;
}
body .panels-flexible-region-1-center{
	width: 100%;
}
.pane-views-home-slider-block{
	max-width: 1280px;
	margin: 0 auto;
}
.view-home-slider #flexslider-1{
	margin: 0px;
	background: none;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.view-home-slider #flexslider-1 .slides li{
	margin: 0px;
	position:relative;
}

.view-home-slider #flexslider-1 .slides li .flex-caption{
	position: absolute;
	/*width: 960px;*/
	top: 25%;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
}

.view-home-slider #flexslider-1 .slides li .flex-caption p.headline{
	font-family: Pacifico, sans-serif;
	font-weight: 300;
	font-size: 45px;
	line-height: 70px;
	color: #FFFFFF;
	margin-bottom: 0px;
	text-shadow: 2px 1px #333;
}
.view-home-slider #flexslider-1 .slides li .flex-caption p.tagline{
	font-family: Proximanova, sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 45px;
	letter-spacing: 2px;
	color: #FFF;
	text-transform: uppercase;
	text-shadow: 2px 1px #333;
}
.view-home-slider #flexslider-1 .slides li .flex-caption div.slide-buttom a{	
  display: inline-block;
  *zoom: 1;
  *display: inline;  
  padding: 5px 15px;
  border: 4px solid white;
  font-family: Proximanova, sans-serif;
  color: white;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  background: rgba(0,0,0,0.3);		
}
.view-home-slider #flexslider-1 .slides li .flex-caption div.slide-buttom a:hover{
	background: rgba(0,0,0,0.6);
}
.view-home-slider #flexslider-1 .flex-control-nav{
	display: none;
}
.view-home-slider #flexslider-1 .flex-direction-nav li a{
	width: 78px;
	height: 78px;
	overflow:hidden; 
	
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.view-home-slider #flexslider-1 .flex-direction-nav li a:before{
  content: '';
  margin-left: 80px;
  height: 80px;	
}

.view-home-slider #flexslider-1 .flex-direction-nav a.flex-prev{
	background-image: url('../images/prev_slider.png');
}
.view-home-slider #flexslider-1 .flex-direction-nav a.flex-next{
	background-image: url('../images/next_slider.png');
}

.front .panel-separator{
	width: 100%;
	clear:both;
	height: 1px;
	margin: 0px;
}
/* GENERAL */
.front .panel-pane,
.block{
	padding-top: 40px;
	padding-bottom: 40px;
}

.not-front  #block-system-main,
#zone-preface .block,
header #zone-user-wrapper #block-menu-menu-top-menu{
	padding: 0px;
}
#section-content .grid-24{
	display:block;
	width: 1000px;
	margin: 0 auto;
	float:none;	
}

body #breadcrumb .breadcrumb{
	background: none;
	border-radius: 0px;
	border: none;
	padding: 0px;
	font-weight:bold;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 13px;
}

body.node-type-alimentos #breadcrumb .breadcrumb{
	margin-bottom: 50px;
}

body #breadcrumb .breadcrumb a{
	font-weight: normal;
	background-image: url('../images/flecha_breadcrumb.png');
	background-repeat:no-repeat;
	background-position: 100% 50%;
	padding-right: 11px;
}

/*** COMO COMPRAMOS ***/

.grid-full-width{
	width: 1000px;
	margin: 0 auto;
}

.titulo-como-comprar h2{
  margin-bottom: 30px;
  font-family: Proximanova, sans-serif;
  color: #76c9b7;
  font-size: 38px;
  line-height: 55px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase	;
  background-image: url('../images/como_comprar_bgt.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  letter-spacing: -1px;
  margin-bottom: 40px;

}
.titulo-como-comprar h2 b{
  font-family: Pacifico, sans-serif;
  font-weight: 400;
  letter-spacing: 6px;
}

.como-comprar-paso{
	display:inline-block;
	*zoom: 1;
	*display: inline;	
	width: 300px;
	margin-right: 45px;
}
.como-comprar-paso .como-comprar-image-wrapper img{
	transition: all 0.3s ease 0s;
}
.como-comprar-paso:hover .como-comprar-image-wrapper img{
	transform: translate(0px, -3px);
}
.como-comprar-paso-3{
	margin-right: 0px;
}
.como-comprar-titulo-wrapper{
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: Proximanova, sans-serif;
  color: #76c9b7;
  font-size: 21px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;	
}
.como-comprar-desc-wrapper{
  font-family:'Source Sans Pro', sans-serif;
  color: #58595b;
  font-size: 17px;
  font-weight: 400;
  text-align: center;	
  line-height: 17px;
}

/*** NUESTRA FILOSIFÍA ***/
.pane-2 {
	background-color: #FDFBF6;
}
.nuestra-filosofia-titulo-bloque h2,
.nuestros-productores-titulo-bloque h2,
.nuestras-canastas-bloque-title h2,
.nuestros-productos-home-header h2{
  margin-bottom: 30px;
  font-family: Proximanova, sans-serif;
  color: #6e6f71;
  font-size: 45px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  background-image: url('../images/filosofia_bgt.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;  
}
.nuestros-productores-titulo-bloque h2,
.nuestros-productos-home-header h2{
	background-image: url('../images/productos_bgt.png');
}
.nuestra-filosofia-titulo-bloque h2 b,
.nuestros-productores-titulo-bloque h2 b,
.nuestras-canastas-bloque-title h2 b,
.nuestros-productos-home-header h2 b{
  font-family: Pacifico, sans-serif;
  font-weight: 400;
  text-transform: lowercase;
}
.nuestra-filosofia-desc p,
.nuestros-productores-desc p,
.nuestras-canastas-bloque-descri p,
.nuestros-productos-home-header p{
	color: #6E6F71;
	font-family: Proximanova, sans-serif;
	font-size: 21px;
	text-align:center;
	text-transform: uppercase;	
}
.ico_filosofia {
  display: block;
  width: 800px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  clear: both;
  text-align: center;
}
.icons {
  width: 160px;
  float: left;
  font-family: Proximanova, sans-serif;
  color: #6e6f71;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.icons img{
	transition: all 0.3s ease 0s;
}
.icons:hover img{
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);	
}
.ico {
  display: block;
  width: 125px;
  height: 125px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}
.creemos-titulo{
	width: 100%;
	clear:both;
	margin-top: 15px;
}
.creemos-titulo h3{
  font-family: Pacifico, sans-serif;
  color: #6e6f71;
  font-size: 35px;
  line-height: 35px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}
.creemos-desc{
  padding-bottom: 40px;
  background-image: url('../images/divicion.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  font-family: Proximanova, sans-serif;
  color: #6e6f71;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;	
}

/*** NUESTRAS RECETAS ***/

.pane-importar-recetas-importar-recetas{
}
#zone-postscript{
	margin: 0px !important;
}
body .region-postscript-full-width{
	width: 100% !important;
	margin: 0px !important;
}

.pane-importar-recetas-importar-recetas,
.block-importar-recetas-importar-recetas{
	background-color: #FDFBF6;
}
.nuestras_recetas_full{

}
.page-recetas .nuestras_recetas_full{
	background: none;
}

.nuestras-recetas-titulo h2{
  margin-bottom: 30px;
  font-family: Proximanova, sans-serif;
  color: #6e6f71;
  font-size: 45px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  background-image: url('../images/filosofia_bgt.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;  
}
.pane-importar-recetas-pagina-importar-recetas{
	padding-top: 0px;
}

.nuestras-recetas-titulo h2 b{
  font-family: Pacifico, sans-serif;
  font-weight: 400;
  text-transform: lowercase;
}
.nuestras-recetas-desc p{
	color: #6E6F71;
	font-family: Proximanova, sans-serif;
	font-size: 21px;
	text-align:center;
	text-transform: uppercase;	
}

.recetas{
	float:left;
	clear:both;
	margin-top: 20px;
}
.receta{
	border: 1px solid #6E6F71;
	padding: 0px;
	margin-right: 20px;
	margin-right: 17px\9;
	margin-bottom: 20px;
	display: block;
	float: left;
	background-repeat: no-repeat;
	background-position: 91% 88%;
	transition: all 0.3s ease 0s;	
	width: 317px;
	width: 314px\9;
	height: 287px;
	transition: all 0.3s ease 0s;
}
/*.receta.row_3,
.receta.row_6,
.receta.row_9,
.receta.row_12,
.receta.row_15,
.receta.row_18,
.receta.row_21,
.receta.row_24,
.receta.row_27,
.receta.row_30,
.receta.row_33,
.receta.row_36,
.receta.row_39,
.receta.row_42,
.receta.row_45,
.receta.row_48{
	margin-right: 0px;
}*/
.recetas .receta:nth-child(3n+3){
	margin-right: 0px;
}
.receta .receta_img{
	width: 100%;
	height: 155px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size:cover;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.receta:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.receta .receta_info{
	padding: 10px 20px;
	 box-sizing: border-box;
	position:relative;
	height: 132px;
}
.receta .receta_info a.receta_titulo{
	display:block;
	color: #76C9B7;
	font-family: Proximanova, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;	
}
.receta .receta_info p{
	color: #6E6F71;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 10px;	
}
.receta .icons_recetas{
	position:absolute;
	position:relative\9;
	bottom: 5px;
	margin-left: -5px;
}
.receta .icons_recetas div{
	float: left;
}
.receta .icons_recetas div img{
	margin-right: 5px;
}

.receta:hover a.receta_flecha{
	background-position: 55% 50%;
}

.receta a.receta_flecha{
	display: block;
	width: 40px;
	height: 55px;
	float:right;
	margin-top: -55px;
	margin-top: -75px\9;
	background-image: url('../images/flecha_der.png');
	background-repeat: no-repeat;
	background-position: 0% 50%;
	transition: all 0.3s ease 0s;
	position:relative;
	z-index: 99;	
}
/*.pane-importar-recetas-importar-recetas*/
.more-link a:after,
.more-link a:before{
	/*display: none;*/
}



/*** FOOTER ***/
footer .container-24{
	width: 1000px;
}
footer .container-24 .grid-17{
	width: 700px;
}
footer.section-footer{
	background-color: #6E6F71;
}
footer .block-block{
	float: left;
	margin-left: 27px;
}
footer #block-block-1{
	margin-left: 0px;
}
footer .block-block ul{
	list-style: none;
	margin: 0px; padding: 0px;
}
footer #block-block-3 ul>li{
	margin-bottom: 15px;
}
footer .block-block ul li{
	padding: 0px; margin: 0px;
}

footer .block-block ul li a,
footer h3{
  display: inline-block;
  *zoom: 1;
  *display: inline;  
  font-family: Proximanova, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  padding: 0px; margin: 0px;
  margin-bottom: 15px;
}
footer #block-block-3 ul>li>a{
	margin-bottom: 5px;
}
footer #block-block-3 ul>li>ul>li{
	margin-bottom: 0px;
}
footer .block-block ul li ul li a{
  display: inline-block;
  *zoom: 1;
  *display: inline;  
  font-family:'Source Sans Pro', sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 0px;
}
footer .block-block{
	padding: 0px;
}
footer #block-block-2 a{
	color:#FFF;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 14px;	
}
footer #block-block-2 .footer-redes-box a{
	margin-right: 5px;
}



/* PRODUCTORES */

#zone-preface{
	margin: 0px; padding: 0px;
}
#zone-preface .grid-24{
	width: 1280px;
}

body h1#page-title{
  font-family: Pacifico, sans-serif;
  color: #76C9B7;
  font-size: 50px;
  font-weight: normal;	
  text-transform:none;
  margin-left: 0px;
  margin-bottom: 10px;
}
.content p{
	color: #58595B;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight:300;	
	line-height: 19px;
}

.views-exposed-widget.views-widget-filter-field_caracteristica_del_product_tid {
    width: 635px;
}
.views-exposed-widget.views-widget-filter-title_field_value {
    min-width: 275px;
}

.page-productores .view-filters{
	margin-bottom: 50px;
}
.page-productores .view-filters #edit-title-field-value{
	border: none;
	width: 275px;
	height: 54px;
	border-bottom: 1px solid #76C9B7;
	border-top: 1px solid #76C9B7;
	background-color:transparent;
	margin: 0px;
	background-image: url('../images/lupa_2.png');
	background-position: 5% 50%;
	background-repeat: no-repeat;
	padding-left: 60px;
	box-sizing: border-box;	
}

#edit-submit-p-gina-de-productores{
	height: 54px;
	border: none;
	background: none;
	background-color: #76C9B7;
	border-radius: 0px;
	color: #FFF;
	margin-top: 0px;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 17px;
	font-weight:300;
	padding-left: 20px;
	padding-right: 20px;			
}

.ajax-progress{
	display: block;
	position: absolute;
	margin-top: -35px;
	margin-left: -30px;
}

.form-item-field-caracteristica-del-product-tid input{
	display: none;
}
.page-productores .views-exposed-form .views-exposed-widget{
	margin: 0px; padding: 0px;
}
.form-radios{
	width: 100%;
	height: 52px;
	border: solid 1px #76C9B7;
}
.form-item-field-caracteristica-del-product-tid{
	display:inline-block;
	*zoom: 1;
	*display: inline;	
	padding-left: 25px;
	padding-right: 25px;
}
.form-item-field-caracteristica-del-product-tid label{
	height: 52px;
	line-height: 52px;
	cursor: pointer;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 17px;
	font-weight:300;
	color: #58595B;		
}
.form-item-field-caracteristica-del-product-tid input:checked+label{
	text-transform: uppercase;
	color: #76C9B7;
	font-weight:bold;
}


.page-productores .views-row,
.view-id-p_gina_de_productores .views-row{
	border: 1px solid #6E6F71;
	padding: 0px;
	margin-right: 24px;
	margin-bottom: 24px;
	display:block;
	float:left;
	/*background-image: url('../images/flecha_der.png');
	background-repeat: no-repeat;
	background-position: 91% 88%;*/
	transition: all 0.3s ease 0s;
}

.view-id-p_gina_de_productores.view-display-id-block_1 .views-row-1{
	width: 486px;
	margin-right: 20px;
}
.view-id-p_gina_de_productores.view-display-id-block_1 .views-row-2{
	width: 486px;
	margin-right: 0px;
}
.view-id-p_gina_de_productores.view-display-id-block_1 .views-row-3,
.view-id-p_gina_de_productores.view-display-id-block_1 .views-row-3 img{
	width: 315px;
}
.view-id-p_gina_de_productores.view-display-id-block_1 .views-row-4,
.view-id-p_gina_de_productores.view-display-id-block_1 .views-row-4 img{
	width: 315px;
}
.view-id-p_gina_de_productores.view-display-id-block_1 .views-row-last,
.view-id-p_gina_de_productores.view-display-id-block_1 .views-row-last img{
	width: 315px;
	margin-right: 0px;
}

.page-productores .views-row:hover .views-field-path span a,
.view-id-p_gina_de_productores .views-row:hover .views-field-path span a{
	background-position: 60% 50%;
}
.page-productores .views-row:hover,
.view-id-p_gina_de_productores .views-row:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.page-productores .views-field-path,
.view-id-p_gina_de_productores .views-field-path{
	position:relative;
}
.page-productores .views-field-path span a,
.view-id-p_gina_de_productores .views-field-path span a{
	display: block;
	width: 50px;
	height: 66px;
	margin-top: -66px;
	float:right;
	background-image: url('../images/flecha_der.png');
	background-repeat: no-repeat;
	background-position: 0% 50%;
	transition: all 0.3s ease 0s;	
}

.page-productores .views-row-last{
	margin-right: 0px;

}

.views-row .views-field-title a{
	color: #76C9B7;
	font-family: Proximanova, sans-serif;
	font-size: 19px;
	font-weight: normal;
	text-transform: uppercase;	
}
.views-row .field-item{
	color: #6E6F71;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 12px;
	font-weight:normal;	
}
.views-row .views-field-title,
.field-name-field-ubicacion{
	padding-left: 20px;
}
.views-row .views-field-title{
	padding-top: 10px;
}
.field-name-field-ubicacion{
	padding-bottom: 10px;
}
#views_infinite_scroll_button{
	text-align:center;
}
#views_infinite_scroll_button a,
body .more-link a,
.view-tarjetas-de-regalo .comprar-boton a{
	border-color: #6e6f71;
	color: #6e6f71;	
	display: inline-block;
	*zoom: 1;
	*display: inline;	
	padding: 5px 20px;
	border: 4px solid;
	font-family: Proximanova, sans-serif;
	font-size: 21px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 auto;	
	margin-top: 20px;
}
body .more-link{
	clear:both;
	text-align:center;
}
body .more-link a{
	position:relative;
}

body .view-p-gina-de-productores .more-link a:before,
body .view-productos-mas-vendidos .more-link a:before{
	position:absolute;
	content: ' ';
	width: 50px;
	height: 35px;
	float: left;
	background-image: url('../images/adorno_btn_izq.png');
	background-repeat: no-repeat;
	background-position:center;
	left: -70px;
}
body .view-p-gina-de-productores .more-link a:after,
body .view-productos-mas-vendidos .more-link a:after{
	position:absolute;
	content: ' ';
	width: 50px;
	height: 35px;
	float: left;
	background-image: url('../images/adorno_btn_der.png');
	background-repeat: no-repeat;
	background-position:center;
	right: -70px;
	bottom: 0px;
}

#zone-content-below {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e35755;
}
#zone-content-below .block{
	padding: 0px;
}
#zone-content-below h3{
	font-family: Proximanova, sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #FFF;
	float: left;
	text-transform:uppercase;	
}
#zone-content-below h3 span{
	 font-family: Pacifico, sans-serif;
	 font-size: 40px;
	 font-weight:400;
	 text-transform: none;
	 margin-right: 15px;
}
#zone-content-below .llamado-accion-canastas-boton-wrapper{
	text-align: center;
}
#zone-content-below .llamado-accion-canastas-boton-wrapper a{
  display: inline-block;
  *zoom: 1;
  *display: inline;  
  padding: 10px 15px;
  border: 4px solid white;
  font-family: Proximanova, sans-serif;
  color: white;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  margin-top: 36px;
  letter-spacing: 2px;		
}

/*** TOOLTOP ***/

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}



/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -65px;
	padding: 7px;
	width: 120px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	transition: all 0.3s ease 0s;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
	transition: all 0.3s ease 0s;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}


/*** DE LA HUERTA ***/

.page-taxonomy-term-79{
}
.view-id-productos{
}

/*Slider*/
.slider745 .view-home-slider #flexslider-1 .slides li .flex-caption{
	width: auto;
}
.slider745 .view-home-slider #flexslider-1 .slides li .flex-caption p.headline{
	font-size: 42px;
}
.slider745 .view-home-slider #flexslider-1 .slides li .flex-caption p.tagline{
	font-size: 28px;
}

.view-id-productos .views-row{
	display:inline-block;
	*zoom: 1;
	*display: inline;
	width: 240px;
	border: 1px solid #6E6F71;
	/*float: left;*/
	position:relative;
	margin-right: 7px;
	margin-bottom: 15px;
	-webkit-box-shadow: 3px 2px 0px 0px rgba(224, 224, 224, 0.9);
	-moz-box-shadow:    3px 2x 0px 0px rgba(224, 224, 224, 0.9);
	box-shadow:         3px 2px 0px 0px rgba(224, 224, 224, 0.9);
	transition: all 0.3s ease 0s;
}
.view-id-productos .views-row [data-tooltip]:hover:before{
	left: 0%;
}
.view-id-productos .views-row:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.view-id-productos .views-row:hover .add-to-cart-image-buttom .form-submit{
	display: block;
}
.view-id-productos .views-row:hover .add-to-cart-image-buttom{
	margin-top: -35px;
}


.view-id-productos .views-row:nth-child(3n+3){
	margin-right: 0px;
}

.not-front .view-id-productos_mas_vendidos.view-id-productos .view-header h2{
	color: #76C9B7;
	background-image: url(../images/linea_izq_1.png), url(../images/linea_der_1.png);
	background-position: 0% 50%, 100% 50%;
}
.not-front .view-id-productos_mas_vendidos.view-id-productos .view-header h2 b{
	color: #76C9B7;
}
.not-front .view-id-productos_mas_vendidos.view-id-productos .views-row,
.page-taxonomy-term .view-id-productos .views-row{
	width: 239px;
}
.front .view-id-productos_mas_vendidos.view-id-productos .views-row{
	margin-right: 7px;
}

.view-id-productos .views-row .info-producto-box{
	box-sizing:border-box;
	padding: 10px 15px;
}
.view-id-productos .views-row .imagen-productor-producto{
	position:absolute;
	border-radius: 50%;
	overflow: hidden;
	margin-top: -65px;
	left: 8px;
	background: rgba(255, 255, 255, 0.5);
	padding: 4px 4px 0px 0px;
}
.view-id-productos .views-row .imagen-productor-producto img{
	border-radius: 50%;
}
.view-id-productos .views-row .add-to-cart-image-buttom{
	position:absolute;
	right: 10px;
	margin-top: -100px;
	transition: all 0.4s ease 0s;
}
.view-id-productos .views-row .add-to-cart-image-buttom .form-submit{
	width: 65px;
	height: 30px;
	border: none;
	border-radius: 0px;
	background: none;
	background-image: url('../images/add.png');
	background-repeat: no-repeat;
	background-position: center;
	text-indent: 200px;
	white-space: nowrap;
	/*overflow: hidden;*/
	display: none;
	/*
	opacity: 0.7;*/
	
}
/*.view-id-productos .views-row .add-to-cart-image-buttom .form-submit:hover{
	opacity: 1;
}*/

/*.view-id-productos .views-row .add-to-cart-image-buttom .form-submit:before{
  content: '';
  margin-left: 150px;
  height: 30px;	
}*/



.view-id-productos .views-row .producto-box-listado .info-producto-box .primera-linea-productor-dia .producto-productor a{
	color: #6E6F71;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 12px;
	font-weight:normal;		
}
.view-id-productos .views-row .primera-linea-productor-dia div{
	display:inline-block;
	*zoom: 1;
	*display: inline;	
}
.view-id-productos .views-row .primera-linea-productor-dia .dia-entrega{
	float:right;
}
.view-id-productos .views-row .titulo-producto a{
	color: #6E6F71;
  font-family: Proximanova, sans-serif;
  font-size: 18px;
  font-weight: 600;	
}
.view-id-productos .views-row .primera-linea-productor-dia .dia-entrega ul li{
	display:inline-block;
	*zoom: 1;
	*display: inline;	
	color: #6E6F71;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 11px;
	font-weight:normal;
	background-image: url('../images/disponible.png');
	background-repeat: no-repeat;
	background-position: 0% 50%;
	padding-left: 12px;
	margin: 0px;
	margin-left: 5px;
}
.view-id-productos .views-row .ultima-linea-preciouni-preciototal{
	border-top: 1px solid #6E6F71;
	padding-top: 5px;
}
.view-id-productos .views-row .ultima-linea-preciouni-preciototal .preciouni{
	color: #6E6F71;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 10px;
	font-weight:normal;	
}
.view-id-productos .views-row .ultima-linea-preciouni-preciototal .preciototal{
	float: right;
	font-family: Proximanova, sans-serif;
	color: #6E6F71;
	font-size: 14px;
	font-weight: bold;	
}
.view-id-productos .views-row .ultima-linea-preciouni-preciototal .preciototal span.cantidad{
	font-family:'Source Sans Pro', sans-serif;
	font-size: 10px;
	font-weight:500;
	margin-right: 5px;
	color: #6E6F71;	
}

.view-id-productos .views-row .ultima-linea-preciouni-preciototal div{
	display:inline-block;
	*zoom: 1;
	*display: inline;	
}

.menu-name-menu-menu-sidebar-productos{
	width: 227px;
	float: right;
}

.menu-block-4 .menu li ul,
.menu-block-4 .menu li ul li ul{
	display: none;
	list-style: none;
}


.menu-block-4 > .menu{
	list-style: none;
	margin: 0px; padding: 0px;
}
.menu-block-4 > .menu > li{
	list-style: none;
	margin: 0px; padding: 0px;
	margin-bottom: 2px;
}
.menu-block-4 > .menu > li > span{
	display: block;
	width: 100%;
	height: 55px;
	font-family: Proximanova, sans-serif;
	font-weight: 500;
	color: #FFF;
	font-size: 19px;
	text-transform: uppercase;	
	background-color: #76C9B7;
	-webkit-border-top-left-radius: 17px;
	-webkit-border-top-right-radius: 17px;
	-moz-border-radius-topleft: 17px;
	-moz-border-radius-topright: 17px;
	border-top-left-radius: 17px;
	border-top-right-radius: 17px;
	cursor: pointer;
	box-sizing: border-box;
	padding-left: 20px;
	line-height: 62px;
	background-image: url(../images/flecha_productos_c.png);
	background-repeat: no-repeat;
	background-position: 92% 50%;
}
.menu-block-4 > .menu > li > span.acti1{
	background-image: url(../images/flecha_productos_a.png);
}

.menu-block-4 > .menu > li > ul{
	margin: 0px; padding: 0px;
	list-style: none;

}
.menu-block-4 > .menu > li > ul > li{
	box-sizing: border-box;
	margin: 0px; padding: 0px;
	list-style: none;
	margin-bottom: 1px;
}
.menu-block-4 > .menu > li > ul > li > span{	
	display:block;
	background-color: #F1F2F2;
	color: #414042;
	font-family: Proximanova, sans-serif;
	font-weight: 300;
	font-size: 13px;
	text-transform: uppercase;
	width: 100%;
	height: 32px;
	letter-spacing: 0.8px;
	line-height: 35px;
	background-image: url(../images/flecha_sub_productos_c.png);
	background-repeat: no-repeat;
	background-position: 92% 50%;
	box-sizing: border-box;
	padding-left: 20px;
	cursor: pointer;
}
.menu-block-4 > .menu > li > ul > li > span.acti2{
	background-image: url(../images/flecha_sub_productos_a.png);
}


.menu-block-4 > .menu > li > ul > li > ul,
.menu-block-4 > .menu > li > ul{
	box-sizing: border-box;
	margin: 0px; padding: 0px;
	list-style: none;
	background-color: #F9FAFA;
	margin-bottom: 1px;
	margin-top: 1px;
}
.menu-block-4 > .menu > li > ul > li > ul{
	list-style: none;
	padding: 15px 0px 15px 0px;
	width: 109%\9;
}
.menu-block-4 > .menu > li > ul > li > ul > li{
	box-sizing: border-box;
	margin: 0px; padding: 0px;
	list-style: none;
}

.menu-block-4 > .menu > li > ul > li > ul > li > a,
.menu-block-4 > .menu > li > ul > li > a{
	display: block;
	color: #414042;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 13.5px;
	font-weight:300;
	box-sizing: border-box;
	margin: 0px; padding: 0px;
	padding-left: 20px;
	line-height: 25px;
}
.menu-block-4 > .menu > li > ul > li > ul > li > a:hover,
.menu-block-4 > .menu > li > ul > li > ul > li.active > a,
.menu-block-4 > .menu > li > ul > li > a:hover,
.menu-block-4 > .menu > li > ul > li.active > a{
	font-weight:bold;
	color: #76C9B7;
}
.block-productos-block-1{
	background-color: #FDFBF6;
}
.block-productos-block-1 .block-inner{
	width: 1000px;
	margin: 0 auto;
}
.block-productos-block-1 .titulo-bloque-promociones-semana h2,
.not-front .view-id-productos_mas_vendidos.view-id-productos h2{
	font-family: Proximanova, sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #E35755;
	text-align:center;
	text-transform: uppercase;
	background-image: url(../images/linea_izq_2.png), url(../images/linea_der_2.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 15% 50%, 85% 50%;
}
.block-productos-block-1 .titulo-bloque-promociones-semana h2 span,
.not-front .view-id-productos_mas_vendidos.view-id-productos h2 span{
	font-family: Pacifico, sans-serif;
	font-weight: normal;
	font-size: 40px;
	text-transform:none;
}

.block-productos-block-1 .view-id-productos .views-row{
	margin-right: 7px;
}
.block-productos-block-1 .view-id-productos .views-row:nth-child(4n+4),
.front .view-id-productos_mas_vendidos.view-id-productos .views-row:nth-child(4n+4){
	margin-right: 0px;
}


.block-productos-block-1 .view-id-productos .views-row .ultima-linea-preciouni-preciototal .preciototal.tag-promo{
	color: #F7941E;
	padding-right: 23px;
	background-image: url(../images/etiqueta.png);
	background-repeat: no-repeat;
	background-position: 100% 49%;
}
.menu-block-4 > .menu > li.cert > span{
	background-color: #E35755;
}

body .block-productos-block-1 .more-link a{
	color: #E35755;
	border-color: #E35755;
}


/* DETALLE PRODUCTO */


.detalle-producto-col-izq,
.detalle-producto-col-der{
	box-sizing: border-box;
	display:inline-block;
	*zoom: 1;
	*display: inline;
	box-sizing:border-box;	
}
.detalle-producto-col-izq{
	width: 52%\9;
}
.detalle-producto-col-der{
	width: 46%\9;
	float:right\9;
}

.detalle-producto-col-der .btnatras{
	display:block; float: right;
	background-color: #D1D3D4;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight:bold;
	color: #FFF;
	border-radius: 4px;
	padding: 7px 15px 7px 25px;	
	background-image: url('../images/flecha_atras.png');
	background-repeat: no-repeat;
	background-position: 15% 50%;
	clear:both;
	position: relative;
	margin-top: -65px;	
}


.detalle-producto-col-izq .flexslider{
	margin: 0px;
	margin-bottom: 35px;
	background: none;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.detalle-producto-col-izq .flexslider ul{
}
.detalle-producto-col-izq .flexslider ul li{
	margin: 0px; padding: 0px;
}
.detalle-producto-col-izq .flex-control-paging{
	display: none;
}
.detalle-producto-col-izq #flexslider-1 .flex-direction-nav li a{
	width: 55px;
	height: 55px;
	overflow:hidden; 
	
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.detalle-producto-col-izq #flexslider-1 .flex-direction-nav li a:before{
  content: '';
  margin-left: 80px;
  height: 55px;	
}

.detalle-producto-col-izq #flexslider-1 .flex-direction-nav a.flex-prev{
	background-image: url('../images/prev_slider_detalle.png');
}
.detalle-producto-col-izq #flexslider-1 .flex-direction-nav a.flex-next{
	background-image: url('../images/next_slider_detalle.png');
}

.panels-flexible-panel_content55_right45 .panels-flexible-region.detalle-producto-col-der{
	box-sizing: border-box;
	padding-left: 20px;
}

.detalle-producto-col-der .field-name-field-productor a{
	font-family: Proximanova, sans-serif;
	font-weight: 300;
	font-size: 18px;	
	color: #6E6F71;
	text-decoration:underline;
	font-style: italic;
}


.detalle-producto-col-der .pane-node-title h1#page-title{
	color: #76C9B7;
	font-family: Proximanova, sans-serif;
	font-weight: 500;
	font-size: 29px;
	text-transform: uppercase;	
	border-bottom: 1px solid #76C9B7;
}

/*.detalle-producto-col-der .box-precio-detalle-producto div{
	display:inline-block;
	*zoom: 1;
	*display: inline;
}*/
.detalle-producto-col-der .mensaje-cantidad-add-to-cart{
	clear:both;
}
.detalle-producto-col-der .mensaje-cantidad-add-to-cart span{
	font-family:'Source Sans Pro', sans-serif;
	font-size: 12px;
	font-weight:300;
	font-style: italic;
	color: #414042;
	
}
.detalle-producto-col-der .box-precio-detalle-producto .precio-total{
	color: #6E6F71;
	font-family: Proximanova, sans-serif;
	font-weight: bold;
	font-size: 31px;
	display:inline-block;
	*zoom: 1;
	*display: inline;		
}
.detalle-producto-col-der .box-precio-detalle-producto .precio-total span{
	color: #A7A9AC;
	font-size: 28px;
}
.detalle-producto-col-der .box-precio-detalle-producto .precio-unidad{
	font-family: Proximanova, sans-serif;
	font-weight: 300;
	font-size: 17px;
	color: #58595B;	
	float:right;
	line-height: 49px;
	display:inline-block;
	*zoom: 1;
	*display: inline;	
}

.field-type-commerce-product-reference .form-item-quantity{
	float:left;
	margin-bottom: 20px;
	clear:both;
}

.field-type-commerce-product-reference .form-item-quantity label{
	display: block;
	font-family: Proximanova, sans-serif;
	font-weight: 500;
	font-size: 18px;	
	color: #6E6F71;
	float:left;
	line-height: 50px;
}
.field-type-commerce-product-reference .form-item-quantity input{
	display: block;
	border: 1px solid #D1D3D4;
	height: 50px;
	width: 200px !important;
	text-align: left !important;
	color: #6E6F71;
	float:left;
	margin-left: 10px;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight:bold;
	padding-left: 10px;	
}
.field-type-commerce-product-reference .form-item-quantity span.ui-spinner{
	float:left;
}
.field-type-commerce-product-reference .form-submit{
	font-family: Proximanova, sans-serif;
	font-weight: normal;
	font-size: 18px;	
	background: none;
	background-color: #E35755;
	border: none;
	color: #FFF;
	text-transform: uppercase;
	padding: 10px 20px;
	float:right;
}
.field-type-commerce-product-reference .linearoja{
	width: 135px;
	height: 2px;
	position: relative;
	background-color: #E35755;
	margin-top: 30px;
	margin-bottom: -23px;
}

.relleno-auto-canasta{
	background-color: #F1F2F2;
	margin-top: 75px;
	padding-bottom: 25px;
}
.relleno-auto-canasta .relleno-auto-canasta-titulo{
	border-bottom: 1px solid #D1D3D4;
	padding: 13px 0px;
}
.relleno-auto-canasta .relleno-auto-canasta-titulo h4{
	font-family: Proximanova, sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 16px;
	color: #6E6F71;
	text-align:center;
	padding: 0px 70px;
	margin-bottom: 0px;	
}

.relleno-auto-canasta .relleno-auto-canasta-form{
	padding: 25px 15px 15px 15px;
	box-sizing:border-box;
}

.relleno-auto-canasta .relleno-auto-canasta-form form div{
	display: inline-block;
	*zoom: 1;
	*display: inline;	
}
.relleno-auto-canasta .relleno-auto-canasta-form form .relleno-auto-canasta-input-check{
	width: 60%;
	margin-top: 12px;
}
.relleno-auto-canasta .relleno-auto-canasta-form form .relleno-auto-canasta-input-check #rellenar-check{
	float: left;
}
.relleno-auto-canasta .relleno-auto-canasta-form form  .relleno-auto-canasta-input-select{
	width: 36%;
	float:right;
	margin-top: -20px\9;
}
.relleno-auto-canasta .relleno-auto-canasta-form form  .relleno-auto-canasta-input-select #rellenar-select-tiempo{
	height: 34px;
	border-radius: 4px;

	background-image: url("../images/flecha_listado_carrito.png");
	background-position: 94% 50%;
	background-repeat: no-repeat;
	padding-right: 20px;
	padding-left: 10px;

	-moz-appearance: none; text-indent: 0.01px; text-overflow: '';
	
}
.relleno-auto-canasta .relleno-auto-canasta-form form .relleno-auto-canasta-input-check label,
.relleno-auto-canasta .relleno-auto-canasta-form form  .relleno-auto-canasta-input-select #rellenar-select-tiempo{
	color: #6E6F71;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: normal;	
}
.relleno-auto-canasta .relleno-auto-canasta-form form .relleno-auto-canasta-input-check label{
	line-height: 12px;
	line-height: 15px\9;
	margin-left: 25px;
}

.share-this-box{
	margin-top: 10px;
	width: 220px;
	float: right;
}
.share-this-box span{
	color: #6E6F71;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 12px;
	font-weight:normal;
	text-transform: uppercase;
	line-height: 37px;
	height: 35px;
	float:left;	
}
.share-this-box .compart{
	margin-right: 10px;
}

.share-this-box .st_facebook_large .stLarge{
	background-image: url('../images/cp_fb.png') !important;
}
.share-this-box .st_twitter_large .stLarge{
	background-image: url('../images/cp_tw.png') !important;
}
.share-this-box .st_instagram_large .stLarge{
	background-image: url('../images/cp_in.png') !important;
}
.share-this-box .st_pinterest_large .stLarge{
	background-image: url('../images/cp_pi.png') !important;
}
.share-this-box .stButton{
	margin: 0px; padding: 0px;
}
.share-this-box .stLarge:hover{
	background-position: center !important;
}
.share-this-box .stLarge{
	width: 35px !important;
	height: 35px !important;
	margin: 0px; padding: 0px;
}

.view-bloques-detalle-productos #ultabs{
	width: 100%;
	text-align:center;
	margin: 0px; padding: 0px;
}
.view-bloques-detalle-productos #ultabs li{
	display:inline-block;
	*zoom: 1;
	*display: inline;
	/*width: auto;*/	
}
.view-bloques-detalle-productos #ultabs li a{
	display:block;
	color: #58595B;
	font-family: Proximanova, sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	height: 30px;
	border: 1px solid #AFB1B3;
	border-bottom: none;
	padding: 10px 10px;
	outline: none;
	transition: all 0.3s ease 0s;
	/*box-sizing:border-box;*/	
}
.view-bloques-detalle-productos #ultabs li a:hover{
	color: #E35755;
}
.view-bloques-detalle-productos #ultabs li.active a{
	color: #E35755;
	padding-bottom: 20px;
	margin-bottom: -10px;
	background-color: #FFF;
	/*box-sizing:border-box;*/	
}
.view-bloques-detalle-productos .content_tabs{
	border: 1px solid #AFB1B3;
	box-sizing: border-box;
	padding: 30px;
	/*padding: 15px\9;*/
}
.view-bloques-detalle-productos .content_tabs .tab{
	display: none;
}
.view-bloques-detalle-productos .content_tabs .tab.active{
	display: block;
}
.view-bloques-detalle-productos .content_tabs{
	color: #58595B;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight:300;	
}


.view-bloques-detalle-productos .content_tabs h3{
	color: #76C9B7;
	font-family: Proximanova, sans-serif;
	font-weight: normal;
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 5px;	
}


.view-bloques-detalle-productos .content_tabs .tags ul{
	margin: 0px; padding: 0px; margin-bottom: 15px;
}
.view-bloques-detalle-productos .content_tabs .tags ul li{
	display: inline-block;
	*zoom: 1;
	*display: inline;	
	margin-left: 0px;
	margin-right: 4px;
	box-sizing:border-box;	
}
.view-bloques-detalle-productos .content_tabs .tags ul li a{
	display:block;
	background-color: #F7F1E1;
	color: #AB9B6E;
	background-image: url(../images/icon_tag.png);
	background-repeat: no-repeat;
	background-position: 10% 50%;
	padding: 5px 20px 5px 30px;
}

.view-bloques-detalle-productos .content_tabs .dias-entrega{
	
}
.view-bloques-detalle-productos .content_tabs .dias-entrega .grupo-dias{
	
}
.view-bloques-detalle-productos .content_tabs .dias-entrega .grupo-dias div{
	width: 31px;
	height: 31px;
	font-family: Proximanova, sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	line-height: 34px;
	background-color: #808285;	
	display:inline-block;
	*zoom: 1;
	*display: inline;	
	margin-left: 5px;
	color: #FFF;
}
.view-bloques-detalle-productos .content_tabs .dias-entrega .grupo-dias.Lun .dia-lun,
.view-bloques-detalle-productos .content_tabs .dias-entrega .grupo-dias.Mar .dia-mar,
.view-bloques-detalle-productos .content_tabs .dias-entrega .grupo-dias.Mie .dia-mie,
.view-bloques-detalle-productos .content_tabs .dias-entrega .grupo-dias.Jue .dia-jue,
.view-bloques-detalle-productos .content_tabs .dias-entrega .grupo-dias.Vie .dia-vie,
.view-bloques-detalle-productos .content_tabs .dias-entrega .grupo-dias.Sab .dia-sab{
	background-color: #76C9B7 !important;
}


.view-bloques-detalle-productos .content_tabs .productor-image-box{
	display:inline-block;
	vertical-align: top;
	*zoom: 1;
	*display: inline;
	margin-right: 20px;
}
.view-bloques-detalle-productos .content_tabs .productor-descri-box{
	display:inline-block;
	width: 300px;
	*zoom: 1;
	*display: inline;		
}
.view-bloques-detalle-productos .content_tabs .p-name h3{
	margin: 0px; padding: 0px; line-height: 14px;
}
.view-bloques-detalle-productos .content_tabs .p-name h3 a{
	color: #6E6F71;
	font-family: Proximanova, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
}

.view-bloques-detalle-productos .content_tabs .p-ubicacion{
	color: #6E6F71;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight:normal;		
}
.view-bloques-detalle-productos .content_tabs .p-descripcion p,
.view-bloques-detalle-productos .content_tabs .detalles-producto p,
.view-bloques-detalle-productos .content_tabs .descripcion-producto p{
	color: #6E6F71;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight:normal;	
	margin-top: 5px;
}
.view-bloques-detalle-productos .content_tabs a.views-more-link{
	font-family:'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight:bold;
	text-transform: uppercase;
	text-decoration: none;	
	color: #6E6F71;	
}
.view-bloques-detalle-productos .content_tabs .ver-todos{
	font-family: Proximanova, sans-serif;
	font-weight: 500;
	font-size: 14px;	
	text-transform: uppercase;
	color: #6E6F71;
	border: 2px solid #6E6F71;
	padding: 9px 20px;
	letter-spacing: 1px;
}



/*********************/

#zone-despues-contenido{
	background-color: #FDFBF6;
}
#zone-despues-contenido .view-id-productos .views-row{
	margin-right: 8px;
}
#zone-despues-contenido .view-id-productos .views-row:nth-child(4n+4) {
	margin-right: 0px;
}
#zone-despues-contenido .view-id-productos .titulo-bloque-productos-similares h2{
	font-family: Proximanova, sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #E35755;
	text-align:center;
	text-transform: uppercase;
	background-image: url(../images/linea_izq_2.png), url(../images/linea_der_2.png);
	background-repeat: no-repeat, no-repeat;
	background-position: 22% 60%, 78% 60%;
}
#zone-despues-contenido .view-id-productos .titulo-bloque-productos-similares h2 span{
	font-family: Pacifico, sans-serif;
	font-weight: normal;
	font-size: 40px;
	text-transform:none;
}

#zone-despues-contenido .view-id-productos .views-row .tag-promo{
	color: #F7941E;
	padding-right: 23px;
	background-image: url(../images/etiqueta.png);
	background-repeat: no-repeat;
	background-position: 100% 49%;
}


/*** NUESTRAS CANASTAS ***/


.pane-block-8{
	background-color: #E35755;
}
.nuestras-canastas-bloque-title h2{
  color: #FFF;
  background-image: url('../images/canastas_bgt.png');	
}

.nuestras-canastas-bloque-descri p{
	color: #FFF;
}

.nuestras-canastas-bloque-list-bloques{
	margin-top: 30px;
}

.nuestras-canastas-bloque-list-bloques .bloque{
	display: inline-block;
	*zoom: 1;
	*display: inline;
	margin-right: 47px;
	position:relative;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow:    4px 4px 0px 0px rgba(255, 255, 255, 1);
	box-shadow:         4px 4px 0px 0px rgba(255, 255, 255, 1);
	
}
.nuestras-canastas-bloque-list-bloques .bloque .nuestras-canastas-bloque-texto-box{
	position:absolute;
	left: 0px;
	right: 0px;
	top: 40%;
	text-align:center;
}
.nuestras-canastas-bloque-list-bloques .bloque .nuestras-canastas-bloque-texto-box .texto a{
	font-family: Pacifico, sans-serif;
	font-weight: normal;
	font-size: 27px;
	color: #FFF;
	text-shadow: 2px 1px #333;
}
.nuestras-canastas-bloque-list-bloques .bloque:hover .nuestras-canastas-bloque-texto-box .boton{
	opacity: 1;
	margin-top: 0px;
}
.nuestras-canastas-bloque-list-bloques .bloque .nuestras-canastas-bloque-texto-box .boton{
	opacity: 0;
	margin-top: 30px;
	transition: all 450ms ease;
}
.nuestras-canastas-bloque-list-bloques .bloque3{
	margin-right: 0px;
}

.nuestras-canastas-bloque-box .nuestras-canastas-unase-al-club-boton{
	text-align: center;
}
.nuestras-canastas-bloque-box .nuestras-canastas-unase-al-club-boton a{
	display: inline-block;
	padding: 10px 15px;
	border: 4px solid white;
	font-family: Proximanova, sans-serif;
	color: white;
	font-size: 21px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 auto;
	margin-top: 70px;
	letter-spacing: 3px;
}

/** TARJETA DE RELAGO **/


.view-tarjetas-de-regalo{
	margin-top: 50px;
	margin-bottom: 40px;
}

.view-tarjetas-de-regalo .views-row{
	display: inline-block;
	*zoom: 1;
	*display: inline;
	margin-right: 46px;
}
.view-tarjetas-de-regalo .views-row .image-tarjeta-regalo{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;	
}
.view-tarjetas-de-regalo .views-row .image-tarjeta-regalo:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.view-tarjetas-de-regalo .views-row-last{
	margin-right: 0px;
}
.view-tarjetas-de-regalo .comprar-boton{
	text-align:center;
}
.view-tarjetas-de-regalo .comprar-boton a{
	transition: all 450ms ease;
}
.view-tarjetas-de-regalo .comprar-boton a:hover{
	background-color: #6e6f71;
	color: #FFF;
	border-color: #6e6f71;
}
.page-tarjetas-de-regalo .pane-content p{
	line-height: 23px;
}