.panels-flexible-panel_content55_right45 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-panel_content55_right45 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-panel_content55_right45 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-panel_content55_right45 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-panel_content55_right45 .panels-flexible-column {
  padding: 0;
}

.panels-flexible-panel_content55_right45 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-panel_content55_right45 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-panel_content55_right45 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-panel_content55_right45 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-panel_content55_right45 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-panel_content55_right45-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-panel_content55_right45-inside {
  padding-right: 0px;
}

.panels-flexible-panel_content55_right45 {
  width: auto;
}

.panels-flexible-region-panel_content55_right45-top_region {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-panel_content55_right45-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-panel_content55_right45-center {
  float: left;
  width: 55.2336%;
}

.panels-flexible-region-panel_content55_right45-right_side {
  float: left;
  width: 43.7664%;
}

.panels-flexible-row-panel_content55_right45-main-row-inside {
  padding-right: 0px;
}

